{
  margin: 0px;
  padding: 0px;
}
body {

  font-size: 120%;
  background: #F8F8FF;
   
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
 
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .links {
  width: 30%;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input {
  margin: 10px 0px 10px 0px;
}
.input label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.input button{
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  width: 50%;
  }
  .input textarea {
  height: 60px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  
  }

    .center {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 30px;

    }
    .centertable {
    position: absolute;
    left: 20%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;

    }
    .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
   
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
 ul { 
  
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: right; 
	background-color: #b4b4b4; 
	} 
 
 ul li {  
	display: inline; 
  
	} 
 
 ul li a {
    
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: ##dddddd; 
	} 
 
 ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	}


.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu li{
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
}

